.awbwenhancements-os-player-banner {
  background: linear-gradient(to right, rgb(255, 79, 78), rgb(146, 50, 67));
}

.awbwenhancements-os-player-border {
  border-color: rgb(146, 50, 67);
}

.awbwenhancements-bm-player-banner {
  background: linear-gradient(to right, rgb(148, 162, 253), rgb(70,110,254));
}

.awbwenhancements-bm-player-border {
  border-color: rgb(70,110,254);
}

.awbwenhancements-ge-player-banner {
  background: linear-gradient(to right, rgb(135, 226, 135), rgb(61, 194, 45));
}

.awbwenhancements-ge-player-border {
  border-color: rgb(61, 194, 45);
}

.awbwenhancements-yc-player-banner {
  background: linear-gradient(to right, rgb(240, 210, 4), rgb(201, 189, 2));
}

.awbwenhancements-yc-player-border {
  border-color: rgb(201, 189, 2);
}

.awbwenhancements-bh-player-banner {
  background: linear-gradient(to right, rgb(187, 180, 165), rgb(116, 89, 138));
}

.awbwenhancements-bh-player-border {
  border-color: rgb(116, 89, 138);
}

.awbwenhancements-rf-player-banner {
  background: linear-gradient(to right, rgb(194, 113, 132), rgb(181, 39, 68));
}

.awbwenhancements-rf-player-border {
  border-color: rgb(181, 39, 68);
}

.awbwenhancements-gs-player-banner {
  background: linear-gradient(to right, rgb(151, 151, 151), rgb(114, 114, 114));
}

.awbwenhancements-gs-player-border {
  border-color: rgb(114, 114, 114);
}

.awbwenhancements-bd-player-banner {
  background: linear-gradient(to right, rgb(173, 126, 95), rgb(152, 83, 51));
}

.awbwenhancements-bd-player-border {
  border-color: rgb(152, 83, 51);
}

.awbwenhancements-ab-player-banner {
  background: linear-gradient(to right, rgb(254, 192, 120), rgb(252, 163, 57));
}

.awbwenhancements-ab-player-border {
  border-color: rgb(252, 163, 57);
}

.awbwenhancements-js-player-banner {
  background: linear-gradient(to right, rgb(196, 215, 180), rgb(166, 182, 153));
}

.awbwenhancements-js-player-border {
  border-color: rgb(166, 182, 153);
}

.awbwenhancements-ci-player-banner {
  background: linear-gradient(to right, rgb(35, 66, 186), rgb(11, 32, 112));
}

.awbwenhancements-ci-player-border {
  border-color: rgb(11, 32, 112);
}

.awbwenhancements-pc-player-banner {
  background: linear-gradient(to right, rgb(255, 153, 204), rgb(255, 102, 204));
}

.awbwenhancements-pc-player-border {
  border-color: rgb(255, 102, 204);
}

.awbwenhancements-tg-player-banner {
  background: linear-gradient(to right, rgb(108, 217, 208), rgb(60, 205, 193));
}

.awbwenhancements-tg-player-border {
  border-color: rgb(60, 205, 193);
}

.awbwenhancements-pl-player-banner {
  background: linear-gradient(to right, rgb(164, 71, 211), rgb(111, 26, 155));
}

.awbwenhancements-pl-player-border {
  border-color: rgb(111, 26, 155);
}

.awbwenhancements-ar-player-banner {
  background: linear-gradient(to right, rgb(122, 157, 17), rgb(97, 124, 14));
}

.awbwenhancements-ar-player-border {
  border-color: rgb(97, 124, 14);
}

.awbwenhancements-wn-player-banner {
  background: linear-gradient(to right, rgb(212, 191, 159), rgb(205, 155, 154));
}

.awbwenhancements-wn-player-border {
  border-color: rgb(205, 155, 154);
}


.awbwenhancements-btn {
    display: flex;
    height: 20px;
    width: 100px;

    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgb(161, 161, 161);
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    justify-content: center;
    padding: 2px 4px;
    margin-left: 8px;
}
.awbwenhancements-btn:hover {
    filter: brightness(90%);
}

.awbwenhancements-select {
    flex-grow: 1;
    display: flex;
    height: 26px;
    width: 100px;
    margin-left: 8px;
    padding: 2px 4px;
    margin-right: 4px;
}

.awbwenhancements-btn-container {
  display: flex;
  height: 100%;
}


/* the outer container exists to participate in flexbox layout with the right dimensions */
.awbwenhancements-sidebar-outer-container {
    height: 896px;
    width: 210px;
}

/* the inner container uses position absolute and a fixed width that is larger than the expected
 * content size so that we get a y scrollbar without an x scrollbar.
 */
.awbwenhancements-sidebar-inner-container {
    position: absolute;
    height: 896px;
    width: 360px;
    overflow-y: auto;
}

/* the contents wrapper then actually contains the content */
.awbwenhancements-sidebar-contents {
    width: fit-content;
}

.awbwenhancements-sidebar-entry {
    margin-left: 10px;
    margin-bottom: 5px;
}

.awbwenhancements-player-entry {
    display: flex;
    height: 100%;
    align-items: self-start;
    flex-direction: column;
}

.awbwenhancements-player-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.awbwenhancements-player-status {
  width: 214px;
}
.awbwenhancements-player-controls {
}
.awbwenhancements-player-bar {
}

.awbwenhancements-player-funds-container {
    cursor: pointer;
}

.awbwenhancements-range-tile {
    border-style: solid;
    border-width: 1px;
    pointer-events: none;
}
